<div class="flex justify-between items-center container mx-auto">
    <a href="#" class="text-4xl font-bold">Portfolio.</a>
    <nav>
        <!-- <div class="bx bx-menu md:!hidden text-2xl" id="menu-icon"></div> -->
        <ul id="navList" class="hidden md:flex">
            <li>
                <a
                    class="text-xl font-medium ml-10 text-main hover:text-main"
                    href="#home"
                    style="--i: 1"
                    >Home</a
                >
            </li>
            <li>
                <a class="text-xl font-medium ml-10 hover:text-main" href="#about" style="--i: 2"
                    >About</a
                >
            </li>
            <li>
                <a class="text-xl font-medium ml-10 hover:text-main" href="#skills" style="--i: 3"
                    >Skills</a
                >
            </li>
            <li>
                <a
                    class="text-xl font-medium ml-10 hover:text-main"
                    href="#portfolio"
                    style="--i: 4"
                    >Portfolio</a
                >
            </li>
            <li>
                <a class="text-xl font-medium ml-10 hover:text-main" href="#contact" style="--i: 5"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</div>
