@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1366px) {
    .intro h4 {
        font-size: 1.2rem;
    }

    .intro h1 {
        font-size: 3rem;
    }

    .intro p {
        font-size: 1rem;
    }
    #home img {
        width: 450px;
        height: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    .intro h4 {
        font-size: 1rem;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 0.8rem;
    }
    #home img {
        width: 400px;
        height: 450px;
    }
    .intro .intro-btn a {
        padding: 9px 15px;
        font-size: 10px;
    }
    .intro .intro-btn .btn2 {
        margin-left: 5px;
    }
    section,
    header {
        padding: 50px 13%;
    }
}

@media only screen and (max-width: 992px) {
    #home {
        flex-direction: column-reverse;
        row-gap: 40px;
        padding-top: 200px;
    }

    .intro {
        text-align: center;
        padding: 0;
    }
    section,
    header {
        padding: 50px 10%;
    }
    .intro h4 {
        font-size: 0.9rem;
    }

    .intro h1 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 0.7rem;
    }
    header ul a {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    header ul {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
    }

    header ul a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    header ul.active {
        right: 0;
    }

    header #menu-icon {
        display: block;
    }

    #home img {
        width: 350px;
        height: 400px;
    }
    .intro .intro-btn a {
        padding: 16px 21px;
        font-size: 14px;
    }
    section,
    header {
        padding: 50px 5%;
    }
    header.sticky {
        padding: 16px 5%;
    }
    #home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .intro p {
        line-height: 20px;
    }
}

@media only screen and (max-width: 600px) {
}
