@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #0ef;
    /* --main-color: #13bbff; */
    --other-color: #c3cad5;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    height: 300vh;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 16%;
    z-index: 1000;
    background: transparent;
    transition: all 0.5s ease;
}
header .logo {
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
    /* font-family: "Lobster", cursive; */
    font-family: "Kaushan Script", cursive;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

span {
    color: var(--main-color);
}

header ul {
    display: flex;
}

header ul a {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 40px;
    transition: all 0.5s ease;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

header ul a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

header #menu-icon {
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

header.sticky {
    background: var(--second-bg-color);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    padding: 16px 16%;
}

.active {
    color: var(--main-color);
}

section {
    padding: 50px 16%;
}
/* Home */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: url("../img/bg.png");
    background-repeat: no-repeat;
    background-color: rgb(23 23 23 / 1);
    background-size: cover;
    background-position: center;
}
#home img {
    width: 500px;
    height: 550px;
    object-fit: cover;
    border-radius: 50px;
    transition: all 0.5s ease;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2s;
}

.intro {
    padding-right: 150px;
}

.intro h4 {
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.intro h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.intro p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.intro .social {
    margin-bottom: 40px;
}

.intro .social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.intro .social i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}

.intro .intro-btn a {
    display: inline-block;
    background: #0ef;
    padding: 11px 26px;
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.intro .intro-btn a:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.intro .intro-btn .btn2 {
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all 0.5s ease;
}

.intro .intro-btn .btn2:hover {
    color: var(--bg-color);
    background: var(--main-color);
}
